
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" dir="rtl">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>بهلاگ - سیستم مدیریت محتوای وب سایت</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">b
    <meta content="" name="description" />
    <meta content="BehlogCMS" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components-md-rtl.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins-md-rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/css/layout-rtl.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/assets/admin/css/themes/blue-rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/css/custom-rtl.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link href="~/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap-select/bootstrap-select-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/select2/select2-bootstrap.css" rel="stylesheet" type="text/css" />
    @await RenderSectionAsync("headSection", required: false)
    <link rel="shortcut icon" href="~/assets/admin/behlog.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-md page-header-fixed page-quick-sidebar-over-content">
    <!-- BEGIN HEADER -->
    <vc:admin-head-nav>
    </vc:admin-head-nav>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        @await Html.PartialAsync("_sideBar")
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
        <!-- END CONTENT -->
        </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        @await Html.PartialAsync("_footer")
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="~/assets/plugins/respond.min.js"></script>
    <script src="~/assets/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>  
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/select2/select2.min.js" type="text/javascript"></script>
    
    <!-- END CORE PLUGINS -->
    <script src="~/assets/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/assets/admin/scripts/layout.js" type="text/javascript"></script>
    <script src="~/assets/admin/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/assets/admin/scripts/demo.js" type="text/javascript"></script>
    <script src="~/js/site.js" type="text/javascript"></script>

    <script language="javascript" type="text/javascript">
      $(document).ready(function() {
         Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
      });
      $(document).ready(function () {
          var validator = $("form").data('validator');
          //validator.settings.errorPlacement = function(error,element) {

          //};
          validator.settings.highlight = function (element, errorClass) {
              $(element).closest('.form-group').addClass('has-error');
          };

          validator.settings.unhighlight = function (element, errorClass) {
              $(element).closest('.form-group').removeClass('has-error');
          };
      });
    </script>
    @await RenderSectionAsync("footerScripts", required: false)
</body>
</html>