/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

body {
    font-family: 'IRANsans';
}

.page-title {
    font-family: 'IRANsans';
}

.input-validation-error {
    color: #ff0000;
    font-size: 15px;
}

.field-validation-error {
    color: #ff0000;
    font-size: 15px;
}

.Admin-Index-Title {
    font-family: 'IRANsans', BYekan, Arial;
    font-size: 20px;
    color: #333;
    text-shadow: #999 1px 1px 5px;
}
