@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansWeb.eot');
    src: url('../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANSansWeb.ttf') format('truetype');
}


@font-face {
    font-family: 'Byekan';
    src: url('../fonts/Byekan.eot?#') format('eot'),
    url('../fonts/Byekan.woff') format('woff'),
    url('../fonts/Byekan.ttf') format('truetype');
}


@font-face {
    font-family: 'BLotus';
    src: url('../fonts/BLotus.eot?#') format('eot'),
    url('../fonts/BLotus.woff') format('woff'),
    url('../fonts/BLotus.ttf') format('truetype');
}

@font-face {
    font-family: 'BNazanin';
    src: url('../fonts/BNazanin.eot?#') format('eot'),
    url('../fonts/BNazanin.woff') format('woff'),
    url('../fonts/BNazanin.ttf') format('truetype');
}
